/* Базовые стили шапки сайта */
footer {
    float: left;
    width: 100%;
    height: 80px;
    position: fixed;
    background-color:#379683;
}

/* Эффекты при наведении на элементы шапки */
footer li:hover {
    transform: scale(1.05);
}

/* Стили для тегов li шапки */
footer ul li{
    list-style: none;
    padding: 4px;
    font-size: 22px;
    margin-right: 20px;
    color: #03264a;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

/* Стили списков шапки */
footer ul {
    display: block;
    float: left;
}

/* Стили навигации шапки */
footer ul .list_of_nav{
    list-style-type: none;
    display: block;
    float: left;
    margin-left: 30px;
}

/* Стили Входа\регистрации шаки */
footer ul .registration_enter_list {
    display: block;
    float: left;
    margin-right: 0px;
}

/* Стили для названия сайта */
footer .site_name {
    font-size: 50px;
    padding: 10px;
    display: block;
    float: left;
}

/* Цвет фона */
body {background-color: #5cbd95;}

/* Стили тега main */
main{
    width: 100%;    
    padding: 24px;
    float: left;
    margin-top: 5%;
    color: #05386b;
}

/* Стили для заголовков и абзацев тега main */
main h1, main p{
    text-align: center;
    width: 720px;
    margin-left: auto;
    margin-right: auto; 
}

main h1{
    font-size: 50px;
    padding-bottom: 30px;
}

main p{font-size: 23px;}

a {
    color: #000;
    text-decoration: none;
}

li {
    transition: .3s;
    display: inline-block;
}

/* Фоновая надпись, пока убрана */
main .fon-figure div{
    width: 100%;
    font-size: 400px;
    opacity: 0.1;
    display: block;
    position: absolute;
    user-select: none;
    text-align: center;
    pointer-events: none;
}

main p {
    text-align: justify;
}

main.class-main a {
    font-size: 22px;
    color: #03264a;
    font-family: 'Comic Sans MS', cursive, sans-serif;   
}

main div.one_note {
    display: block;
    background-color: #379683;
    height: 150px;
    width: 750px;
    color: #1a4139;
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

main div.one_note h1{font-size: 36px;}
main div.one_note p{font-size: 20px; text-align: center;}