{% extends 'main/layout.html' %}

{% block content %}
<main>
    <div class="dismissal">
        <h1>Уволюсь</h2>
        <p>Я <b>Кокорин Алексей Викторович</b>. На данный момент я обучаюсь программированию и начал достаточно давно.
        К сожалению, не было возможности заниматься каждый день, в итоге я продвинулся не так далеко как хотелось бы.<br>
        Примерно в декабре я уволюсь, буду жить на деньги, которые накопил. После увольнения планирую обучаться и параллельно проходить собеседования.<br>
        В целях на <b>2025</b> у меня найти работу связанную с программированием, продолжить инвестировать в фондовый и криптовалютный рынки.
        </p>
        <h1>Увольнение произойдет через <b></b>~30 смен</h2>
    </div>
</main>
{% endblock %}